.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-right: 10px;
}

.logout-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
